# macOS
.DS_Store

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr

# Docker override local
docker-compose.override.yml

# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/
